<!--suppress HtmlFormInputWithoutLabel -->
<body>
<div class="medium-list">
  <div class="list-viewer-wrapper">
    <div class="list-header-title"
         i18n="changePassword|The field is changePassword"
    >Change Password
    </div>
    <form (ngSubmit)="onSubmit()" [formGroup]="changePasswordForm">
      <div class="form-container">
        <mat-form-field appearance="fill">
          <input formControlName="password" matInput type="password" placeholder="New password" required
                 i18n="newPassword|The field is newPassword">
          <mat-error *ngIf="changePasswordForm.hasError('required', 'password')"
                     i18n="pleasePassword|The field is pleasePassword">
            Please enter your new password
          </mat-error>
        </mat-form-field>
        <br>

        <mat-form-field appearance="fill">
          <input [errorStateMatcher]="matcher" formControlName="confirmPassword" matInput type="password"
                 placeholder="Confirm new password"
                 i18n="confirmP|The field is confirmP">
          <mat-error *ngIf="changePasswordForm.hasError('notSame')"
                     i18n="passwordNotMatch|The field is passwordNotMatch">
            The passwords do not match
          </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label
            i18n="chooseReason|The field is chooseReason">Choose reasons
          </mat-label>
          <mat-select>
            <mat-option value="option"
                        i18n="forgotP|The field is forgotP">Forgot Password
            </mat-option>
            <mat-option value="option"
                        i18n="securityR|The field is securityR">Security Reasons
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label
            i18n="argues|The field is argues">Argues
          </mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
        <div>
          <button [disabled]="changePasswordForm.invalid" mat-raised-button color="primary" type="submit"
                  i18n="change|The field is change">Change
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
</body>
